html{
  text-align: center;
  font-family: Helvetica;
}


.banner, .banner2 {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  color: white;
}

h1{
  font-size: 70px;
  font-weight: bold;
}

.banner, li {
  font-size: 18px;
  list-style-type: none;
  margin: 0 0 .77em 0;
}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

.footer {
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
